.trainer-page{
/* padding:30px; */
font-family:Arial;
}

.trainer-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.add-btn{
background:#ef1f03;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
font-weight:600;
display:flex;
gap:8px;
cursor:pointer;
}

.trainer-stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:30px;
}

.stat-card{
background:#e4ecf8;
padding:10px;
border-radius:12px;
}

.stat-card h4{
color:#777;
margin-bottom:10px;
}

.stat-card h2{
margin:0;
}

.trainer-filter{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.tags button{
padding:5px 14px;
border:none;
background:#eee;
margin-right:10px;
border-radius:8px;
cursor:pointer;
}

.tags .active{
background:#c8f0d2;
}

.filter-icons button{
margin-left:10px;
border:none;
padding:8px;
border-radius:8px;
background:#eee;
cursor:pointer;
}

.trainer-table{
background:white;
border-radius:12px;
overflow:hidden;
}

table{
width:100%;
border-collapse:collapse;
}

thead{
background:#f2f2f2;
}

th,td{
padding:12px;
text-align:left;
border-bottom:1px solid #eee;
}

.trainer-info{
display:flex;
align-items:center;
gap:12px;
}

.trainer-info img{
width:45px;
height:45px;
border-radius:50%;
}

.trainer-name{
font-weight:600;
}

.specialty{
background:#d7e5ff;
padding:6px 12px;
border-radius:20px;
font-size:14px;
}

.members{
font-weight:600;
}

.status{
padding:6px 12px;
border-radius:20px;
font-size:14px;
}

.status.active{
background:#d4f7df;
color:#1a7f37;
}

.status.leave{
background:#e7eaf0;
color:#555;
}