.filter-buttons-wrapper {
  display: inline-flex;
  align-items: center;
  background: var(--primary-hover); /* light lavender background */
  padding: 6px;
  border-radius: 999px; /* full pill */
  gap: 6px;
}

.filter-buttons-wrapper .role-filter-btn {
  border: none;
  background: transparent;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 14px;
  color:var(--text-primary);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  text-transform: capitalize;
}

/* Active button */
.filter-buttons-wrapper .role-filter-btn.active {
  background: var(--bg-card);
  color: var(--primary); /* purple text */
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Hover effect */
.filter-buttons-wrapper .role-filter-btn:hover {
  color: var(--primary);
}