.member-details{
/* padding:10px; */
}

/* Header */

.profile-header{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
padding:10px;
border-radius:12px;
margin-bottom:20px;
}

.profile-left{
display:flex;
gap:20px;
align-items:center;
}

.profile-img{
width:80px;
height:80px;
border-radius:10px;
}

.member-tag{
background:#ffe8d6;
padding:4px 10px;
border-radius:20px;
font-size:12px;
}

.member-id{
color:#777;
font-size:14px;
}

/* Buttons */

.profile-actions .btn{
border:none;
padding:8px 14px;
border-radius:20px;
margin-left:10px;
cursor:pointer;
}

.edit{
background:#ffe8d6;
}

.freeze{
background:#e0f7f7;
}

.membership{
background:#2aa7a7;
color:white;
}

/* Cards */

.detail-grid{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:20px;
}



.info-box{
background:#f7f7f7;
padding:10px;
border-radius:8px;
margin-top:10px;
}

.label{
font-size:12px;
color:#888;
}

/* Membership */

.membership-box{
background:linear-gradient(135deg,#37b6b6,#2aa7a7);
color:white;
padding:20px;
border-radius:10px;
margin:10px 0;
}

/* Progress */

.progress{
height:8px;
background:#eee;
border-radius:10px;
margin-top:5px;
}

.progress-fill{
height:8px;
border-radius:10px;
}

.weight{
width:75%;
background:#2aa7a7;
}

.fat{
width:45%;
background:#ff9a66;
}